
body{
    font-family: "Open Sans Light", "Helvetica Neue", sans-serif;
}

.grey{
  color:grey;
  text-align: center;
}

.header{
  text-align: center;
  font-weight: bold;
  color: white;
}

#epi{
 display: inline;
}

.label{
  margin-bottom: 0px;

}

#welcometext {
  background-color: rgb(66,133, 244);
  width: 100%;
  position: relative;
  margin-top: -9px;
  margin-left: -5px;
  padding-left: 10px;
  padding-right: 0px;
  float: left;
}

h6{
  color: grey;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}


.outerbox{
  background-color: #e0dedc;
  text-align: center;
  height: 150px;
  width: 600px;
  border-radius: 10px;
  align-content: center;
  margin: 0 auto;
}

#pause{
  width: 100px;
  height: 100px;
  position: relative;
}

#eye{
  width: 150px;
  height: 75px;
  position: relative;
}

#confirm{
  text-align: center;
}
